@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.form-card-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px -8px 0px rgb(250, 164, 3);
    text-align: center;
    width: 250px;
}
  
.card-image-container {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
}
  
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card-title {
    font-family: 'Martian Mono', monospace;
    font-size: 30px;
    margin-bottom: 10px;
    color: brown;
}
  
p {
    margin-bottom: 10px;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
}

.type {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}
  
.electric {
    background-color: yellow;
    color: black;
}

.water {
    background-color: blue;
    color: white;
}

.fire {
    background-color: red;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.psychic {
    background-color: pink;
    color: black;
}

.normal {
    background-color: gray;
    color: black;
}

.ground {
    background-color: brown;
    color: white;
}

.bug {
    background-color: #A8B820;
    color: black;
}

.fighting {
    background-color: #C03028;
    color: white;
}

.rock {
    background-color: #B8A038;
    color: black;
}

.flying {
    background-color: #A890F0;
    color: white;
}

.poison {
    background-color: #A040A0;
    color: white;
}

.ghost {
    background-color: #705898;
    color: white;
}

.steel {
    background-color: #B8B8D0;
    color: black;
}

.ice {
    background-color: #98D8D8;
    color: black;
}

.dragon {
    background-color: #7038F8;
    color: white;
}

.dark {
    background-color: #705848;
    color: white;
}

.fairy {
    background-color: #EE99AC;
    color: black;
}
  