@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Martian+Mono:wght@800&display=swap');

$light-blue: #8ecae6;
$blue: #1d8098;
$dark-blue: #023047;
$light-orange: #ffb703;
$orange: #fb8500;

$title-font: 'Martian Mono', sans-serif;
$form-font: 'Caprasimo', sans-serif;